<div ng-if="$ctrl.showTestGroup" class="testGroup">
 <div ng-click="$event.stopPropagation();">
  <header>
   <h1>Define the Test Group</h1>
   <i class="closeBtn clickable close-btn" ng-click="$ctrl.closeDialog()" title="Close"></i>
  </header>
  <div class="content">
   
     <h3>Select the members of the Test Group from one of the categories:</h3>

    <form class="monitor-form" ng-submit="$ctrl.handleTestGroupFormSubmit()">
            <section class="form-row">
                <h3>List members by</h3>
                <label  ng-repeat="(key,val) in $ctrl.dataList track by $index">         
                        <input name="name" type="radio" ng-model="$ctrl.byParam"  value="{{key}}" ng-change="$ctrl.byParamChanged(key)">                             
                        <span class="fake-label">{{val}}</span>             
                </label>
            </section>

            <section class="search-wrap">
                <div class="left-part">
                    <div class="form-group has-feedback">
                        <input class="form-control" ng-model="monitorTable.autocomplete.letter" id="searchLeft"
                                type="search" placeholder="{{monitorTable.getTestGroupPlaceholder()}}"
                                ng-keyup="monitorTable.autocomplete.findBySearchCriteria($event)">
                        <span class="icon search form-control-feedback"></span>
                    </div>
                </div>
                <div class="right-part">
                    <span class="total">Test group members:<span>{{monitorTable.activeList.toSaveValues.length}}</span></span>
                </div>
            </section>

            <section class="selection">
                    <div class="left-part">
                        <div class="item-list">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="item in $ctrl.activeValues | orderBy:'value' track by $index"
                                    ng-click="item.$selected=!item.$selected;"
                                    ng-class="{'active': item.$selected}">
                                    <td><a href="#">{{item}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="arrows">                   
                          <button class="icon arrow-right"></button>
                          <button class="icon arrow-left"></button>                         
                    </div>


                    <div class="right-part">
                        <div class="item-list">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="item in monitorTable.activeList.toSaveValues | filter:monitorTable.autocomplete.toSaveValuesLetter | orderBy:'value' track by $index"
                                    ng-click="item.$selected=!item.$selected;"
                                    ng-class="{'active': item.$selected}">
                                    <td class="text-left">
                                        <a href="#">{{item.value}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </section>
    </form>

  
  </div>

  <footer>
     <button ng-click_="$ctrl.closeDialog()" class="cancelBtn">Cancel</button>
     <button _ng-click_="$ctrl.rolloutItem.confirm()" class="btn-success">Apply</button>
  </footer>

 </div>
</div>