//all 100ms ease-in
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

//0.5s
@mixin transitionDuration($time) {
    -webkit-transition-duration: $time;
    -moz-transition-duration: $time;
    -ms-transition-duration: $time;
    -o-transition-duration: $time;
    transition-duration: $time;
}

//height
@mixin transitionProperty($property) {
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    -ms-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;
}

@mixin opacity($value) {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=" + $value*100 + ")"; //IE 8
    filter: alpha(opacity=$value*100); //IE 5-7
    -moz-opacity: $value; //Netscape
    -khtml-opacity: $value; //Safari 1.x
    opacity: $value; //Good browsers
}

@mixin pie-clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin vertical-align-parent {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@mixin text-wrap-on-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin unselectable() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin nooutline() {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}
