.testGroup {
    @include dialog();
    > div {
        width: 800px ;

        header {
            display: flex;
            justify-content: space-between;
            padding: 0;

            h1 {
                display: flex;
                order: 1;
                font-weight: bold;
                margin: 0;
            }
            .closeBtn {
                display: flex;
                order: 2;
                position: relative;
                right: 0;
                top: 0;
                padding: 0;
                margin: 0;
            }
        }
    }

    section.search-wrap {
        margin-top:20px;
        display:flex;
    }
    
    label {
      display:inline;
      span.fake-label{
        font-weight:normal;
      } 
    }

    .selection {
        display:flex;
        .left-part,.right-part{
            height:185px;
            overflow-y:auto;
        }
        .left-part {
            border:1px solid red;
            flex:1;
        }
        .arrows{
            width:25px;
            border:1px solid blue;
            align-self:center;
            display:flex;
            flex-direction:column; 
            align-items:center;

        }
        .right-part {
            border:1px solid green;
            flex:1;
        }
    }   

}