@import './_icomoon';
@import './_mixins';
@import './_mixins-dialog';
@import './_test-group-dialog';
body{
  margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
page-tweets{
  display:flex;
  flex-direction:row;
  height: 100%;
  width: 100%;
  position:absolute;
}
tweet-sidebar{
  width: 30%;
  background: #fff;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
tweet-sidebar.sidebar-collapsed{
  width: 35px;
  padding: 0px;
}
tweet-sidebar.sidebar-collapsed .collapsed-content{
  display: none;
}
tweet-main{
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}
tweet-topbar{
  height: 250px;
  background: #BFE0EC;
  padding: 20px;
  flex-shrink: 0;
}
tweet-topbar.topbar-collapsed{
  padding: 0px;
  height: 35px;
}
tweet-topbar.topbar-collapsed .collapsed-content{
  display: none;
}
tweet-content{
  flex-grow: 1;
  background: #f1f1f1;
  overflow-y: auto;
  height: 100%;
  padding: 20px;
}

.dp-collapse{
  background: #337ab7;
  width: 35px;
  text-align:center;
  padding: 10px;
  cursor:pointer;
  display:block;
}
.dp-collapse:hover{
  background: #fff;
}
.dp-collapse-right{
  float: right;
}
.dp-collapse-center{
  margin: auto;
  text-align:center;
}
.starred{
  color: yellow;
}
dp-star{
  cursor:pointer;
  font-size: 30px;
  padding-top: 20px;
}
.dp-tweet-icon{
  font-size: 20px;
  color: #ccc;
  margin-right: 15px;
}
.dp-tweet{
  background-color: #fff;
  padding: 20px;
}
.dp-tweets{
  padding: 20px;
}
textarea {
  resize: none;
}



button:active { //TODO move to common when outside of branch
    text-shadow: none;
}

$provisioningPageMargin: 0 18px;
.adminPage {
    background: #ececec;
    width: 100%;
    height: 100%;
    input[type=text], input[type=search] {
        height: 26px;
        border: solid 1px #95a5a6;
        line-height: 26px;
        box-sizing: border-box;
    }

    header {
        position: relative;
        height: 60px;
        border-bottom: 1px solid #c7c7c7;
        color: #40454f;
        padding: 0 18px;
        background: #fff;
        width: 100%;
        //display: inline-flex;
        i {
            line-height: 60px;
            padding: 0;
            font-size: 10px;
            margin: 0 13px;
            color: #b6b9b8;
        }
        //justify-content: flex-start;
        span {
            font-size: 18px;
            line-height: 60px;
        }
        .back {
            color: #2980bf;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                color: #3498DB;
            }
        }
        .right-menu {
            position: absolute;
            top: 18px;
            right: 18px;
            display: flex;
            input[type="search"] {
                padding: 0 10px;
                width: 290px;
                margin-left: 10px;
            }
        }
        //justify-content: space-between;
    }

    .tableContainer {
        padding: $provisioningPageMargin;
        background: #ececec;
        .headerButtons {
            min-height: 18px;
            clear: both;
            padding: 20px 0 10px 0;
            display: flex;
            justify-content: space-between;

            button {
                border-radius: 2px;
                padding: 0 13px;
                font-size: 12px;
                line-height: 26px;
                box-sizing: border-box;
            }
            > button {
                border: 1px solid #d8d8d8;
                background: #f5f5f5;
                color: #40454f;
                &:before {
                    font-size: 12px;
                    padding: 0 4px 0 0;
                    color: #555c5b;
                }
                &:hover {
                    background: #fff;
                    color: #f57b20;
                }
                &:hover:before, &:active:before {
                    color: #f57b20;
                }
            }
            .leftHeaderContainer {
                order: 1;
                display: flex;
                > button {
                    margin-right: 10px;

                    border: 1px solid #d8d8d8;
                    background: #f5f5f5;
                    color: #40454f;
                    &:before {
                        font-size: 12px;
                        padding: 0 4px 0 0;
                        color: #555c5b;
                    }
                    &:hover {
                        background: #fff;
                        color: #f57b20;
                    }
                    &:hover:before, &:active:before {
                        color: #f57b20;
                    }
                }
            }
            .rightHeaderContainer {
                order: 2;
                display: flex;
                > button {
                    background: #2980bf;
                    border: none;
                    color: #fff;
                    margin-right: 10px;
                    &:hover {
                        background: #4c638d;
                    }
                    &:hover:before, &:active:before {
                        color: #fff;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                .verticalLine {
                    height: 100%;
                    border-left: solid 1px #d8d8d8;
                    margin-right: 10px;
                }
            }
        }
   
        table {
            width: 100%;
            border: solid 1px #d8d8d8;
            background: #fff;
            border-collapse: collapse;
            tr {
                border-bottom: 1px solid #ececec;
                height: 38px;
                &.disabled {
                    color: #c0c0c0;
                    background: #fcfcfc;
                }
                &:hover {
                    background: #eaf0f6;
                }
                &:last-child {
                    border-bottom: none;
                }
                td, th {
                    font-size: 12px;
                    padding: 0 25px;
                    text-align: left;
                }
                .clickableLink {
                    cursor: pointer;
                    color: #2395b8;
                    text-decoration: none;
                    &:hover {
                        color: #0d558f;
                        text-decoration: underline;
                    }
                }
            }
            thead {
                $tableHeadBg: #f5f5f5;
                background: $tableHeadBg;
                border-bottom: 1px solid #ececec;
                font-weight: bold;
                color: #545B5B;
                span {
                    color: #545B5B;
                    font-size: 12px;
                    &:hover {
                        color: #545B5B;
                    }
                }
                tr:hover {
                    background: $tableHeadBg;
                }
                sort-header-cmp {
                    a {
                        text-decoration: none;
                        color: #545B5B;
                        &:hover {
                            color: #2395b8;
                        }
                    }
                }
            }
        }
    }
}